<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>556110320690-iu72esjvcfcop7j0uvhm9qmagc4d8con.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556110320690-iu72esjvcfcop7j0uvhm9qmagc4d8con</string>
	<key>API_KEY</key>
	<string>AIzaSyAyw_zJIBQFPGlQwUoycPapXjAUAlcPHrY</string>
	<key>GCM_SENDER_ID</key>
	<string>556110320690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rossfreeman.NYUDining</string>
	<key>PROJECT_ID</key>
	<string>project-6493363128799841767</string>
	<key>STORAGE_BUCKET</key>
	<string>project-6493363128799841767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:556110320690:ios:1d833f115ee34826</string>
	<key>DATABASE_URL</key>
	<string>https://nyudining.firebaseio.com</string>
</dict>
</plist>